<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>

    <!-- CARREGAR SOMENTE UM REGISTRO -->
    <!--
    <div class="container-fluid bg-3 text-center">
        <h3><%= page %></h3><br>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Pessoa</label>
                    <input id="pessoa" type="text" class="form-control" name="pessoa" value="<%= usuario[0].pessoa %>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Nome</label>
                    <input id="nome" type="text" class="form-control" name="nome"
                        value="<%= usuario[0].nome %> <%= usuario[0].sobrenome %>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Email</label>
                    <input id="email" type="text" class="form-control" name="email" value="<%= usuario[0].email %>">
                </div>
            </div>
        </div>
    </div>
    -->

    <!-- CARREGAR TODOS OS REGISTROS FOREACH-->
    <!--
    <div class="container-fluid bg-3 text-center">
        <h3><%= page %></h3><br>
        <% usuario.forEach(function(usuario){ %>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Pessoa</label>
                    <input id="pessoa" type="text" class="form-control" name="pessoa" value="<%= usuario.pessoa %>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Nome</label>
                    <input id="nome" type="text" class="form-control" name="nome"
                        value="<%= usuario.nome %> <%= usuario.sobrenome %>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Email</label>
                    <input id="email" type="text" class="form-control" name="email" value="<%= usuario.email %>">
                </div>
            </div>
        </div>
    </div>
    <%  }); %>
    -->

    <!-- CARREGAR TODOS OS REGISTROS FOR -->
    <!--
    <div class="container-fluid bg-3 text-center">
        <h3><%= page %></h3><br>
        <table>
            <tr>
                <td>pessoa</td>
                <td>nome</td>
                <td>email</td>
            </tr>
            <%for(var i = 0; i < usuario.length; i++){%>
            <tr>
                <td> <%=usuario[i].pessoa%> </td>
                <td> <%=usuario[i].nome%> </td>
                <td> <%=usuario[i].email%> </td>
            </tr>
            <%}%>
        </table>
    </div>
    -->

    <!-- CARREGAR TODOS OS REGISTROS NO SELECT -->
    <div class="container-fluid bg-3 text-center">
        <h3><%= page %></h3><br>
        <div class="col-lg-12">
            <div class="row">
                <select id="selecaoMatricula" name="selecaoMatricula" class="form-control" onchange="fillData()">
                    <option value="" selected disabled hidden>Selecione sua Matrícula</option>
                    <% usuario.forEach(function(usuario){ %>
                    <option value="<%= usuario.id %>" pMatricula="<%= usuario.matricula %>"
                        pCurso="<%= usuario.curso %>" pUf="<%= usuario.uf %>">
                        <%= usuario.pessoa %> <%= usuario.nome %> <%= usuario.sobrenome %></option>
                    <%  }); %>
                </select>
                <div>
                    <div class="form-group" class>
                        <label>Matrícula</label>
                        <input id="matricula" name="matricula" type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label>Curso</label>
                        <input id="curso" name="curso" type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label>UF</label>
                        <input id="uf" name="uf" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-lg">Ir para o Portal</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function fillData() {
            //selectElement = document.querySelector('#selecaoMatricula');
            //output = selectElement.value;
            //document.querySelector('.uf').textContent = output;
            //document.getElementById("uf").setAttribute("value", usuario[0].uf);
            //document.getElementById("matricula").setAttribute("value", usuario[output].matricula);
            var sel = document.getElementById('selecaoMatricula');
            var selected = sel.options[sel.selectedIndex];
            var curso = selected.getAttribute('pCurso');
            document.getElementById("curso").setAttribute("value", curso);
            var matricula = selected.getAttribute('pMatricula');
            document.getElementById("matricula").setAttribute("value", matricula);
            var uf = selected.getAttribute('pUf');
            document.getElementById("uf").setAttribute("value", uf);
        }
    </script>

</body>
<% include partials/script %>

</html>